<footer class="bg-dark text-white mt-5">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
        <h5>CarRental System</h5>
        <p>Your trusted partner for car rentals.</p>
      </div>
      <div class="col-md-6">
        <h5>Contact Info</h5>
        <p>Email: pranambande19&#64;gmail.com;</p>
        <p>Phone: +91 8805542390</p>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; 2023 CarRental. All rights reserved by pranam bande.</p>
    </div>
  </div>
</footer>